@charset "UTF-8";
:root {
  --bacground-header: #ffffff;
  ---text-color: #212121;
  --color-logo: #2196f3;
  --color-logo-header: #000000;
  --color-contacts: #757575;
  --background-color-main: #2f303a;
  ---color-title: #ffffff;
  --color-bgd-btn: #2196f3;
  --color-btn-text: #ffffff;
  ---color-text-main: #757575;
  ---color-skills-bgd: #ffffff;
  ---color-team-section-bgd: rgba(245, 244, 250, 1);
  ---color-logo-footer: #ffffff;
  ---color-portfolio-bgd: #f5f5f5;
  ---color-portfolio-btn: #f5f4fa;
  ---color--portfolio-text-btn: #212121;
  ---color-cart-portfolio: #ffffff;
  ---color-current: #2196f3;
  ---color-text-overlay: rgba(255, 255, 255, 1);
  ---var-bgd-main-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.submit-btn, .button-main, .main-page, .filter, .container-footer, .container-team {
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #212121;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  /*вирівнює по центру*/
  margin: 0 auto;
}

.container-footer {
  text-align: start;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .container-footer {
    display: block;
    text-align: center;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: var(---color-portfolio-btn);
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(---color--portfolio-text-btn);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--color-bgd-btn);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(---color-title);
}

.btn-current {
  background: var(---color-current);
  color: var(---color-portfolio-btn);
}

.logo__link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__header {
  color: var(--color-logo-header);
}

.logo__accent {
  color: var(---color-logo-footer);
}

.logo__link-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  margin-bottom: 20px;
}

.social-link {
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-networks_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .footer-networks {
    text-align: center;
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .footer-networks {
    display: inline-block;
    text-align: center;
    margin-bottom: 102px;
    margin-left: 165px;
  }
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.networks-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196f3;
}

/* header */
.header {
  background: var(--bacground-header);
  border: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header__list .nav-header__item:not(:last-child) {
  margin-right: 50px;
  display: block;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.nav-header {
  margin-left: 93px;
}

.contacts-header {
  margin-left: auto;
  gap: 30px;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(---text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
}
.nav-header__link:hover, .nav-header__link:focus {
  color: var(--color-logo);
}

.current {
  color: var(--color-logo);
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(---color-current);
  left: 0;
  bottom: -3px;
  border-radius: 4px;
}

.contacts-header__email,
.contacts-header__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header__email:hover, .contacts-header__email:focus,
.contacts-header__tel:hover,
.contacts-header__tel:focus {
  color: var(--color-logo);
}

.contacts-header__icons {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.main-page {
  background: #c4c4c4;
  background-image: var(---var-bgd-main-gradient), url(../../images/mobile/Header\ img@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0 200px 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-page {
    background-image: var(---var-bgd-main-gradient), url("../../images/mobile/Header img@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .main-page {
    background-image: var(---var-bgd-main-gradient), url("../../images/tablet/Header img@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-page {
    background-image: var(---var-bgd-main-gradient), url("../../images/tablet/Header img@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .main-page {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    background-image: var(---var-bgd-main-gradient), url("../../images/desktop/Img@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-page {
    background-image: var(---var-bgd-main-gradient), url("../../images/desktop/Img@2x.jpg");
  }
}

.button-main {
  background: var(--color-bgd-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--color-btn-text);
  margin-top: 30px;
  border: 0;
  padding: 10px 32px;
}

.title {
  color: var(--color-btn-text);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 769px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.skills-icons-div {
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.skills {
  background: var(---color-skills-bgd);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 769px) {
  .skills {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 481px) {
  .list-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.skills-icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.skills-item {
  width: 100%;
}
@media screen and (min-width: 481px) {
  .skills-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 769px) {
  .skills-item {
    width: calc((100% - 90px) / 4);
  }
}

.flex-element:nth-child(4n) {
  margin-right: 0;
}

.main-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(---text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 481px) {
  .main-title {
    text-align: left;
  }
}

.main-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
  display: block;
  margin-bottom: 30px;
}
@media screen and (min-width: 481px) {
  .main-content {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 769px) {
  .container-skills {
    width: 1170px;
  }
}
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(---text-color);
  margin-bottom: 50px;
}

.srv {
  padding-bottom: 94px;
}

.container-services-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.list-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.container-services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-text {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-section {
  background: var(---color-team-section-bgd);
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-team {
  display: block;
}
@media screen and (min-width: 481px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(---text-color);
  margin-bottom: 50px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(---text-color);
  background: #ffffff;
  margin-bottom: 10px;
}

.team-list {
  color: #757575;
  margin-bottom: 16px;
}

.team-cart {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item,
.list-team,
.team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(---color-text-main);
}

.team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 769px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients-section {
  background: var(---color-skills-bgd);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-item {
  width: 100%;
  height: 92px;
}
@media screen and (max-width: 480px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 481px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 769px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-logo {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 155ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 155ms;
}
.clients-link:hover .clients-logo, .clients-link:focus .clients-logo {
  fill: #2196f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background: var(--background-color-main);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-footer__email,
.contacts-footer__adress {
  margin-bottom: 9px;
}

.contacts-footer__link,
.contacts-footer__mail,
.contacts-footer__mobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer__link:hover, .contacts-footer__link:focus,
.contacts-footer__mail:hover,
.contacts-footer__mail:focus,
.contacts-footer__mobile:hover,
.contacts-footer__mobile:focus {
  color: var(--color-logo);
}

/*--якщо прибрати стайл нормал текст стає курсивом*/
.address {
  font-style: normal;
}

.contacts-footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-logo-footer);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------форма-підписки------ */
@media screen and (max-width: 480px) {
  .subscription {
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .subscription {
    display: block;
    text-align: center;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.subscription__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  height: 50px;
  background: #2f303a;
}
@media screen and (max-width: 480px) {
  .subscription__input {
    display: block;
    width: 450px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .subscription__input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  height: 50px;
  padding: 10px 8px 10px 28px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(---color-portfolio-btn);
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .subscription__btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .logo {
    display: inline-block;
    text-align: center;
    margin-left: 76px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
  width: 528px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: scaleX(0.9) translate(-50%, -50%);
          transform: scaleX(0.9) translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* .close-icon, */
.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close:hover, .close:focus {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close:hover .close-icon,
.close:focus .close-icon {
  fill: #2196f3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #ffffff;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.input-field {
  margin-bottom: 10px;
}

.submit-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:hover, .modal-field:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .input-icon, .form-input:hover + .input-icon {
  fill: var(--color-logo);
}

.check-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-text .checkbox-text {
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iput-check:checked + .check-text .checkbox-text {
  background-color: #2196f3;
  border-color: #2196f3;
}
.iput-check:focus + .check-text .checkbox-text {
  border-color: #2196f3;
}

.check-icon {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iput-check:checked + .check-text .check-icon {
  fill: #ececec;
}

.terms-link {
  color: var(---color-current);
  margin-left: 4px;
  border-bottom: 2px solid var(---color-current);
}

.input-field-comment {
  margin-bottom: 20px;
}

.input-field-policy {
  margin-bottom: 30px;
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.actions {
  position: relative;
  overflow: hidden;
}

.actions__pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(---color-text-overlay);
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery__link:hover .actions__pop-up, .portfolio-gallery__link:focus .actions__pop-up {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-gallery__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.description-cards {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.description-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(---text-color);
  margin-bottom: 4px;
}

.descripchion-cards_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}

.actions__picture {
  background: var(---color-cart-portfolio);
  border: 1px solid #eeeeee;
  overflow: hidden;
  margin-right: 0;
}

.portfolio-gallery__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery__link:hover, .portfolio-gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */