/* header */
.header {
	width: 100%;
	background: var(--bacground-header);
	border: 1px solid #ececec;
	vertical-align: baseline;
	// padding: 16px;
}
.header-nav {
	@media screen and (min-width: 768px) {
		position: relative;
	}
	display: flex;
	position: relative;
	align-items: baseline;

	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-header__list .nav-header__item:not(:last-child) {
	margin-right: 50px;
	display: block;
}
.nav-header__list {
	display: flex;
}

.contacts {
	display: flex;
	margin-left: auto;
}

.contacts .item + .item {
	margin-left: 50px;
}

.nav-header {
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 768px) {
		margin-left: 88px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: 93px;
	}
}

.contacts-header {
	@media screen and (max-width: 767px) {
		display: none;
	}
	// @media screen and (min-width: 768px) and (max-width: 1200px) {
	// }

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: auto;
		margin-right: 15px;
		display: flex;
		flex-direction: column;
		// row-gap: 10px;
		align-items: baseline;
		// vertical-align: middle;
		justify-content: baseline;
	}
	@media screen and (min-width: 1200px) {
		display: inline-flex;
		margin-left: auto;
		margin-right: 15px;
		gap: 30px;
	}
}

.nav-header__link {
	display: block;
	position: relative;
	@include fonts(500, 14px, 1.14, 0.02em);

	color: var(---text-color);
	padding: 0px;
	// padding-top: 32px;
	// padding-bottom: 32px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
	padding: 32px 0;
	&:hover,
	&:focus {
		color: var(--color-logo);
	}
}

.current::after {
	@media screen and (min-width: 768px) {
		color: var(--color-logo);
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(---color-current);
		left: 0;
		// bottom: -3px;
		border-radius: 4px;
		bottom: -3px;
	}
	@media screen and (min-width: 1200px) {
		bottom: -3px;
	}
}
// @media screen and (min-width: 768px) and (max-width: 1199px) {
// 	.contacts-header {
// 		margin-bottom: 21px;
// 	}

// .contacts-header__email {
// 	margin-bottom: 10px;
// }

.contacts-header__email,
.contacts-header__tel {
	color: var(--color-contacts);
	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-flexbox;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	vertical-align: baseline;
	align-items: center;
	@media screen and (min-width: 1200px) {
		@include fonts(500, 14px, 1.14, 0.02em);
	}
	@media screen and (max-width: 768px) {
		@include fonts(500, 12px, 1.14, 0.02em);
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-top: 5px;
		padding-bottom: 5px;
		vertical-align: baseline;
		align-items: center;
	}

	&:hover,
	&:focus {
		color: var(--color-logo);
	}
}

.contacts-header__icons {
	fill: currentColor;
	margin-right: 10px;
	align-items: center;
	vertical-align: middle;
	// justify-content: baseline;
}

.contacts-header__item {
	display: flex;
	align-items: center;
	margin-right: auto;
	vertical-align: baseline;
}

.contacts-header__mobmenu {
	margin-left: auto;
}

.logo {
	margin-top: 16px;
}

.btn-open__mobmenu {
	position: absolute;
	top: 30%;
	right: 15px;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	color: #212121;
	cursor: pointer;
	vertical-align: baseline;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.btn-close__mobmen {
	margin-left: auto;
	margin-top: 10px;
	align-items: center;
	text-align: center;

	background-color: transparent;
	border: none;
	color: #212121;
	cursor: pointer;

	margin-left: auto;
	display: block;
}

// .btn-open__mobmenu {
//   display: block;
//   margin-left: auto;
// // }
// .btn-close__mobmenu {
// 	// display: block;
// 	// margin-ri: auto;
// 	// margin-top: 10px;
// 	// margin-right: 15px;
// 	position: absolute;
// 	top: 50%;
// 	right: 0px;

// 	transform: translateY(-50%);

// 	justify-content: center;
// 	align-items: center;
// 	width: 40px;
// 	height: 40px;
// 	background-color: transparent;
// 	border: none;
// 	color: #212121;
// 	cursor: pointer;
// }

.mobmenu-contacts-header__email {
	@include fonts(500, 24px, 1.17, 0.02em);
	color: #757575;
}
.mobmenu-contacts-header__tel {
	@include fonts(500, 34px, 1.18, 0.02em);
	color: #2196f3;
	margin-bottom: 32px;
}

.mobmenu {
	position: fixed;
	z-index: 999;
	width: 100%;
	// height: 100vh;
	left: 0px;
	top: 0px;
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobmenu-container {
	height: 100vh;
	display: inline-flex;
	flex-direction: column;
	// justify-content: space-between;
	align-items: flex-start;
	// text-align: start;
	padding: 48px 40px;
	@media screen and (max-width: 767px) {
		// padding-bottom: 48px;
		// padding-left: 25px;
		margin: 0;
	}
}
.is-open {
	transform: translateX(0);
}
// .mobmenu-nav-header__item {
//   margin-bottom: 32px;
// }
.mobmenu-nav-header__link {
	@include fonts(500, 40px, 1.18, 0.02em);
	color: #212121;
	display: flex;
	margin-right: auto;
}

.current {
	color: #2196f3;
}

// .mobmenu-contacts-header {
//   margin-bottom: 302px;
// }
.mobmenu-nav-header {
	margin-bottom: 64px;
	align-items: flex-start;
	display: inline-flex;
	font-style: normal;

	color: #2196f3;
}
.mobmenu-contacts-header__email,
.mobmenu-contacts-header__tel,
.mobmenu-soc-link link {
	display: flex;
	margin-right: auto;
}
.mobmenu-nav-header {
	margin-bottom: 302px;
}
.mobmenu-nav-header__item {
	margin-bottom: 32px;
}
.mobmenu-contacts-header__item :not(last-child) {
	justify-content: start;
	align-items: flex-start;
}
.mobmenu-contacts-header {
	margin-bottom: 64px;
}
.mobmenu-contacts-header__item {
	margin-bottom: 32px;
}
.mobmenu-soc-list {
	display: flex;
}

.mobmenu-soc-link {
	padding: 0 10px;
	@include fonts(500, 18px, 1.22, 0.02em);
	color: #2196f3;
	margin: 0;
	display: inline-flex;
	flex-wrap: wrap;
}
.mobmenu-soc-item {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobmenu-soc-item:last-child {
	border-right: 0;
}

// .mobmenu-soc-item:not(:last-child) {
// }
// .contacts-header__iconsmenu {
// 	vertical-align: middle;
// 	align-items: center;
// }
// .mobmenu-soc-item:not(:last-child) {
// 	border-left: 1px solid rgba(33, 33, 33, 0.2);
// 	color: rgba(33, 33, 33, 0.2);
// }
// .mobmenu-soc-link:last-child {
// 	border-right: none;
// }

.list-item {
	margin-bottom: 12px;
}

.list-item:last-child {
	margin-bottom: 0;
}
.mobmenu {
	@media screen and (max-width: 480px) {
		padding: 48px, 40px;
		text-align: start;
		width: 100%;
		max-width: 480px;
		// height: auto;
		// max-height: 496px;
		// z-index: 5;
		overflow: scroll;
	}
}
.mobmenu-contacts {
	justify-content: start;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
	position: sticky;
}
