.services {
  @include fonts(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(---text-color);
  margin-bottom: 50px;
}
.srv {
  padding-bottom: 94px;
}
.container-services-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.list-services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container-services-item {
  display: flex;
}
.services-text {
  position: absolute;
  bottom: 0;
  display: flex;
  @include fonts(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  min-height: 70px;
  align-items: center;
  justify-content: center;
}
